@model SalesMVC.Models.Seller
<h3>Details</h3>
<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(modal => modal.Name)
        </dt>
        <dd>
            @Html.DisplayFor(modal => modal.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(modal => modal.Email)
        </dt>
        <dd>
            @Html.DisplayFor(modal => modal.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(modal => modal.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(modal => modal.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(modal => modal.BaseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(modal => modal.BaseSalary)
        </dd>
        <dt>          
            @Html.DisplayNameFor(modal => modal.Department)
        </dt>
        <dd>
            @Html.DisplayFor(modal => modal.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back To List</a>
</div>